body {
    font-family: Monotype Corsiva;
    background-color:rgb(166, 164, 164);
  }
  header {
    text-align: center
  }
  .header-content{
    padding:0 2rem;
    margin: auto;
    height: 12vh;
  }
  .team-section{
    text-align: center;
  }
.card-container{
    display:flex;
    justify-content: center;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items: stretch;
    gap: 25px;
    margin-top: 100px;
}
.card{
    width:325px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6 ease;
    margin:10px;
    background-color:  #fff5;
    backdrop-filter: blur(8px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

}
.card:hover{
    transform: translateY(-20px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-content h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.card-content p{
    font-size: 18px;
    color: rgb(13, 13, 13);
    margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: rgb(122, 220, 227);
    color: #080000;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
.row{
    display:flex;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: center;
}